@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  @* creating a variable and then will display the server time to the browser *@
  @{ var serverTime = DateTime.Now; }

  <h1> The server time is @serverTime </h1>
  
  @* Customizing CSHTML <h2> with text of my choosing *@
  @{ var msg = " and here are some numbers 3453534";}
  <h2> Here is some text @msg</h2>
</div>
